[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ourownstory/neural_prophet/blob/master/example_notebooks/autoregression_yosemite_temps.ipynb)

# NBeats

This is a NBeats model module usage example. We implemented this model under the same API as NeuralProphet, for easy comparison of the results of NeuralProphet and SOTA models

We used as the base the implementation of NBeats from Pytorch Forecasting library. The model parameters are inherited automatically from the dataset structure, if from_dataset is set to True
For more detail on hyperparameters, please follow https://github.com/jdb78/pytorch-forecasting/blob/master/pytorch_forecasting/models/nbeats/__init__.py

In [ ]:
# install NeuralProphet from our repository
!pip install git+https://github.com/adasegroup/neural_prophet.git # may take a while

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from neuralprophet import NBeats
import pandas as pd

In [3]:
if 'google.colab' in str(get_ipython()):
    data_location = "https://raw.githubusercontent.com/adasegroup/neural_prophet/master/"
else:
    data_location = "../"

df = pd.read_csv(data_location + "example_data/yosemite_temps.csv")
df.head(3)
freq = '5min'

df = df.iloc[:1000]

In [22]:
m = NBeats(
        context_length = 150,
        prediction_length = 1,
        batch_size = None,
        epochs = 100,
        num_gpus = 0,
        patience_early_stopping = 10,
        early_stop = True,
        weight_decay=1e-2,
        learning_rate=3e-2,
        auto_lr_find=False,
        num_workers=3,
    )

In [23]:
m.fit(df.iloc[:-10], freq = freq)

WARNING - (py.warnings._showwarnmsg) - /Users/polina/.conda/envs/neural_prophet/lib/python3.7/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

GPU available: False, used: False
TPU available: False, using: 0 TPU cores

  | Name            | Type       | Params
-----------------------------------------------
0 | loss            | MASE       | 0
1 | logging_metrics | ModuleList | 0
2 | net_blocks      | ModuleList | 1.8 M
-----------------------------------------------
1.8 M     Trainable params
0         Non-trainable params
1.8 M     Total params
7.322     Total estimated model params size (MB)

Training: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

Validating: 0it [00:00, ?it/s]

    SmoothL1Loss       MAE        MSE  SmoothL1Loss_val   MAE_val    MSE_val
0       5.928891  6.401394  76.606070          0.377402  0.747381   0.838477
1       1.325239  1.751352   5.708515          2.982026  3.475647  15.159767
2       0.844825  1.242072   2.923574          1.472369  1.909160   5.960487
3       0.734888  1.128482   2.202871          1.137125  1.597976   3.430192
4       0.512126  0.879700   1.377452          1.248628  1.700619   4.259666
5       0.429100  0.791817   1.078894          0.352501  0.727514   0.768277
6       0.348196  0.691017   0.822272          0.148697  0.423123   0.322995
7       0.393096  0.743984   1.009167          0.458252  0.868838   0.997122
8       0.361069  0.698517   0.930785          0.234914  0.562123   0.498551
9       0.341528  0.679383   0.837525          0.110110  0.376683   0.230610
10      0.319635  0.630494   0.837124          0.473399  0.841078   1.071006
11      0.356516  0.675336   0.927584          0.187558  0.509984   0.379669
12      0.265430  0.579611   0.643173          0.212691  0.501729   0.469783
13      0.240476  0.546524   0.545194          0.267822  0.649282   0.556791
14      0.258416  0.564463   0.593734          0.231118  0.527162   0.529715
15      0.501007  0.836674   1.605769          0.312192  0.621771   0.719371
16      0.359940  0.684285   0.955757          0.103047  0.379115   0.206102
17      0.393716  0.729091   1.119303          0.213984  0.530525   0.442968
18      0.293881  0.612060   0.749929          0.270216  0.619778   0.629174
19      0.369335  0.693089   0.988287          0.218725  0.565719   0.453334
20      0.425785  0.767890   1.179551          0.164192  0.432099   0.367218
21      0.288146  0.600150   0.719780          0.276940  0.651875   0.589866
22      0.254891  0.560268   0.615047          0.308640  0.626941   0.670880
23      0.202091  0.502994   0.440267          0.141954  0.432166   0.292814
24      0.315952  0.626851   0.833978          0.563629  1.018113   1.259740
25      0.343572  0.664061   0.968573          0.369589  0.724919   0.815039
26      0.293956  0.604176   0.746237          0.201777  0.481401   0.447808

In [40]:
future = m.make_future_dataframe(df, freq, periods=5, n_historic_predictions=100)

                     ds    y  time_idx  series
750 2017-05-03 14:30:00  7.1       750       0
751 2017-05-03 14:35:00  7.5       751       0
752 2017-05-03 14:40:00  7.7       752       0
753 2017-05-03 14:45:00  7.8       753       0
754 2017-05-03 14:50:00  8.2       754       0
..                  ...  ...       ...     ...
995 2017-05-04 10:55:00  8.3       995       0
996 2017-05-04 11:00:00  8.2       996       0
997 2017-05-04 11:05:00  8.2       997       0
998 2017-05-04 11:10:00  8.2       998       0
999 2017-05-04 11:15:00  8.1       999       0

[250 rows x 4 columns] 5

In [39]:
future

                     ds    y  time_idx  series
0   2017-05-03 14:30:00  7.1       750       0
1   2017-05-03 14:35:00  7.5       751       0
2   2017-05-03 14:40:00  7.7       752       0
3   2017-05-03 14:45:00  7.8       753       0
4   2017-05-03 14:50:00  8.2       754       0
..                  ...  ...       ...     ...
250 2017-05-04 11:20:00  8.1      1000       0
251 2017-05-04 11:25:00  8.1      1001       0
252 2017-05-04 11:30:00  8.1      1002       0
253 2017-05-04 11:35:00  8.1      1003       0
254 2017-05-04 11:40:00  8.1      1004       0

[255 rows x 4 columns]

In [37]:
forecast = m.predict(future)

                     ds   y  yhat1
0   2017-05-03 14:30:00 NaN    NaN
1   2017-05-03 14:35:00 NaN    NaN
2   2017-05-03 14:40:00 NaN    NaN
3   2017-05-03 14:45:00 NaN    NaN
4   2017-05-03 14:50:00 NaN    NaN
..                  ...  ..    ...
250 2017-05-04 11:20:00 NaN    NaN
251 2017-05-04 11:25:00 NaN    NaN
252 2017-05-04 11:30:00 NaN    NaN
253 2017-05-04 11:35:00 NaN    NaN
254 2017-05-04 11:40:00 NaN    NaN

[255 rows x 3 columns] []

In [34]:
forecast

                     ds    y     yhat1 residual1
0   2017-05-03 14:30:00  7.1      None      None
1   2017-05-03 14:35:00  7.5      None      None
2   2017-05-03 14:40:00  7.7      None      None
3   2017-05-03 14:45:00  7.8      None      None
4   2017-05-03 14:50:00  8.2      None      None
..                  ...  ...       ...       ...
250 2017-05-04 11:20:00  NaN  8.125137       NaN
251 2017-05-04 11:25:00  NaN  8.072654       NaN
252 2017-05-04 11:30:00  NaN  8.031872       NaN
253 2017-05-04 11:35:00  NaN  8.009538       NaN
254 2017-05-04 11:40:00  NaN  8.011885       NaN

[255 rows x 4 columns]

In [ ]:
forecast.iloc[-15:]

In [ ]:
f = m.plot(forecast.iloc[-100:])